@mixin shadowTransition(){
    -webkit-transition: -webkit-filter 1s;
    transition: filter 1s;
}

@mixin shadowFilter(){
    -webkit-filter: drop-shadow(0px 0px 10px #fff);
    filter: drop-shadow(0px 0px 10px #fff);
}

nav{
   
    width:90%;    
    float: left ;
    
    
    .brand{
        
        font-family: "Bowlby One SC";
        font-size: 30px;
    }
    
    #icon {  
        @include shadowTransition();
        float: left;
        width: 100px;
        height: 100px;
    }
    
    #icon:hover {       
        @include shadowFilter();
    }
}

